*{
  box-sizing: border-box;
  cursor: url("./img/mouse4.png") 1 1, default;
}

body, h1, p, ul, li, a{
  margin: 0px;
  padding: 0px;
}

body{
  background:  #CAF0F8;
}

.conhecimentos{  
  max-width: 85%;
  margin: 0 80px 20px auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.conhecimentos ul{
  display: flex; 
  margin-top: 70px;
  margin-bottom: 50px;
}

.conhecimentos li{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px; 
}
.contato{
  max-width: 85%;
  margin: 0 80px 20px auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
}

.contato-info ul{
  list-style: none;
  display: flex;
  padding: 20px ;  
}

.contato-info li{
  margin: 0 40px;
}

.contato-info li:hover{
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.btn-subir{
  display: flex;
  justify-content: flex-end;
  color: #7c7c7c;
}

.dados{
  line-height: 1;
  margin: 80 50px;
  padding: 60px 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

footer{
  display: flex;
  background: #f7f7f73a;
  height: 20px;
  align-items: center;
}
 
.footer p{
  flex: 1;
  text-align: center;
  font-size: 1em;
  color: rgba(31, 31, 80, 0.411); 
}

header{
  background-image: url("img/estrela.gif");
  position: fixed;
  z-index: 1;
  width: 100vw;
  background-size: 10% auto; 
}

 .information p {  
  text-indent: 1.5em;
  text-align: justify;
  font-size: 1.07em;
  color: #7c7c7c;
  margin-right: 60px;

}

.menu{
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
}

.menu-name{
  font-family: 'Courgette';
  color:#0077B6;
  font-size: 2em;
  margin: 0 10px;
}

.menu-nav ul{ 
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a{
  font-family: 'Courgette';
  color:#0077B6;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.75em;
  padding: 10px;  
}

.menu-nav a:hover{
  color: #CAF0F8;
}


.nome {
  max-width: 85%;
  color: rgb(31, 31, 80);
  font-family: 'Courgette', cursive;   
  margin-top: 12%;
  margin-left: 29%; 
  font-size: 4em;
  position: absolute;
}

.nome:after{
  color: rgb(22, 22, 22);
  content: '|';
  opacity: 1;
  animation: pisca .7s infinite;
 
}

@keyframes pisca{
  0%, 100%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
} 

.portifolio{
  max-width: 85%;
  margin: 0 80px 20px auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.portifolio img{
  width: 260px;
  height: 160px 
}

.portifolio-container{
 width: 960px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.portifolio-item{
  margin: 10px ;
  width: 50px;  
}
.portifolio-item img:hover{
  opacity: 0.5;
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.portifolio-item p{
  color: #786c6c;
  margin: auto;
  padding: 10px 10px; 
  background: #f7f7f7c8;
}

.portifolio-item h3{
  font-size: 1.5em;
  color: #786c6c;
  background: #f7f7f7c8;
  margin: auto;
  padding: 10px 10px; 
}

.blue{
  border-top: 8px solid #00B4D8;
}

.profile-gif{
  margin-top: 110px;
}

.profissao{
  font-size: 2em;
  color: rgba(31, 31, 80, 0.719);
  margin-top: 5px;
}
 .profile-img{ 
  margin-left: 100px;
  max-width: 30em;
  float: right; 
}

.profile img{
  max-width: 13em;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
 .profile{
  float: right; 
}

.sobre{
  max-width: 85%;
  margin: 30px 20px 15px auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
}

h2{
  color: rgb(31, 31, 80);
  font-size: 1.75em;  
  font-style: italic;
  margin-bottom: 30px;
  margin-top: 60px;
  margin-left: 25px;
}

.separador{
  display: flex;
  justify-content: center;
}
.separador img{
  width: 50%;
  height: 50px;

}

@media (max-width: 600px){
  .menu-nav a{
    font-size: 1.4em;
  }
  .nome{
  max-width: 85%;  
  margin-top: 0;
  margin-left: 15px; 
  font-size: 2.0em;
  position: relative;
  }

  .profile-img{
    max-width: 50%;  
    margin-left: 15px; 
  }

  .conhecimentos ul{     
    display: flex; 
    align-items: center;    
    flex-wrap: wrap;
    margin-top: 0;
  }

  .conhecimentos ul li {   
    width: 20px;
    height: 15px;
    margin: 25px;
  }

  .portifolio img{
    width: 260px;
    height: 160px 
  }
  
  .portifolio-container{
    width: 400px;
    margin:  0 40px ;
    display: flex;
    flex-wrap: wrap;
  }
}


