*{
  box-sizing: border-box;
  /* cursor: url("./img/mouse4.png") 1 1, default; */
}

body, h1, p, ul, li, a{
  margin: 0px;
  padding: 0px;
}

body{
  background:  #010d23;
}

.blue{
  border-top: 8px solid #3b3b3b;
}

.contato{
  max-width: 85%;
  margin: 0 80px 20px auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
}


.contato-info ul{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px ;  
  margin-right: 58px;
}

.contato-info li{
  margin: 0 40px;
}

.contato-info li:hover{
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.btn-subir{
  display: flex;
  justify-content: flex-end;
  color: #7c7c7c;
}

.dados{
  line-height: 1;
  padding: 60px 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.fab{
  color: #fcfdff;
}

.fab:hover{
  color: #9c9994;
}

header{
  background-image: url("img/estrela.gif");
  position: fixed;
  z-index: 1;
  width: 100vw;
  background-size: 10% auto; 
}

.information {
margin-bottom: 15px;
}

.information p {  
  text-indent: 1.5em;
  text-align: justify;
  font-size: 16px;
  color: #292501;
  margin-left: 25px;
}

.menu{
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center; 
}

.menu-name{
  color: whitesmoke;
  font-size: 1em;
  margin: 0 10px;
}

.menu-nav ul{ 
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
}

.menu-nav a{
  color:whitesmoke;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 10px;  
}

.menu-nav a:hover{
  color: #9c9994;
}

.nome {
  max-width: 85%;
  color: #c0c2bd;
  font-family: 'Courgette', cursive;   
  margin-top: 12%;
  font-size: 2em;
  position: absolute;
  display: flex;
  align-self: flex-end;
}

.nome:after{
  color: rgb(22, 22, 22);
  content: '|';
  opacity: 1;
  animation: pisca .7s infinite;
 
}

@keyframes pisca{
  0%, 100%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
} 

.portifolio{
  max-width: 75%;
  margin: 10px 200px 10px auto;
  padding: 4px;
}

.portifolio-titulo{
  margin-top: 55px;
  color:#c0c2bd;
}

.portifolio img{
  width: 274px;
  height: 160px 
}

.portifolio-container{
  width: 62.5rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.portifolio-item{
  margin: 10px ;
  width: 50px;  
}

.portifolio-item img:hover{
  opacity: 0.5;
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.portifolio-item p{
  color: #fcfdff;
  margin: auto;
  padding: 10px 10px; 
  background: #010d23;
}

.portifolio-item h3{
  font-size: 1.5em;
  color: #29251c;
  background: #cfcfcf;
  margin: auto;
  padding: 10px 10px; 
}

.profissao{
  font-size: 2em;
  color: rgba(31, 31, 80, 0.719);
  margin-top: 5px;
}

.profile img{
  max-width: 20em;
  margin: 58px 58px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.profile{
  float: right; 
}

.sobre{
  max-width: 75%;
  margin: 10px 200px 10px auto;
  padding: 4px;
  border-radius: 12px;
  background-color: #e3e3d1;
}

h2{
  color: #29251c;;
  font-size: 1.75em;  
  font-style: italic;
  margin-bottom: 30px;
  margin-left: 25px;
}

h3{
  color: #29251c;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 5px;
  margin-left: 25px;
}

.separador{
  display: flex;
  justify-content: center;
}

.separador img{
  width: 50%;
  height: 50px;
}

@media (max-width: 600px){
  .dados{
    margin-left: 35px;
    display: flex;
    flex-flow: column wrap;
  }

  .information p{
    max-width: 15rem;
  }
  
  .menu{
    margin-left: 31px;
  }

  .menu-name{
    margin-left: 50px;
  }

  .menu-nav a{
    font-size: 1.4em;
  }

  .nome{
  margin-top: 0;
  margin-right: 35px; 
  position: relative;
  }

  .profile img{
    max-width: 10em;
  }

  .portifolio img{
    width: 160px;
  }
  
  .portifolio-container{
    width: 300px;
    margin:  0 40px ;
    display: flex;
    flex-wrap: wrap;
  }

  .sobre{
    max-width: 81%;
    margin: 40px;
  }
}


